<h1>USER</h1>
<div>

    <form action="/add-price" method="POST"> 
    <h1>Enter amount<h1>

    <input  type="text" name="price" placeholder="add amount" value=" "> 
    <input type="submit"  value="addamount">
</div>
</form>
<div>